<mat-toolbar color="primary">
    <span>Pokedex</span>
    <div>
        
        <a mat-button routerLink="/" routerLinkActive="true" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            Accueil
        </a>
        <a mat-button routerLink="/contact" routerLinkActive="true" [routerLinkActiveOptions]="{exact: true}">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="info"></mat-icon>
            Contact
        </a>
        <a mat-button routerLink="edede" routerLinkActive="true" [routerLinkActiveOptions]="{exact: true}">
            not found
        </a>
    </div>

</mat-toolbar>